h1 {
  padding: 100px;
  text-align: center;
  font-size: 4em;
  color: tomato;
  background-color: aliceblue;
}
fieldset {
  display: inline;
  width: 60%;
  margin: 20px;
}
.label {
  text-align: right;
}
#submit {
  display: block;
  width: auto;
  float: center;
  margin: 3% auto;
}
#add_order {
  margin: 10%;
}