h1 {
  padding: 70px;
  text-align: center;
  font-size: 2.5em;
  color: tomato;
  background-color: none;
  border-bottom: 1px solid black;
}

a {
  text-decoration: none;
}

section {
  padding: 2% 10%;
}

fieldset {
  display: inline;
  width: 60%;
  margin: 20px;
}

table, td, th {
  border-top: 1px solid;
  padding-left: 0.2em;
}

.sm_btn2 {
  min-width: 25%;
  padding: 1%;
  border-radius: 3px;
  background-color:blue;
  color: white;
  cursor: pointer;
}

.inp_txt {
  font-size: medium;
  padding: 1%;
  margin: 3% 1% 3% 5%;
  min-width: 50%;
}

.form1 {
  margin: 1%;
  text-align: center;
  display: inline-flex;
}

.sm_btn {
  padding: 0.8em 1em;
  border-radius: 3px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  transition: background-color .5s;
}

.label {
  text-align: center;
}

.err_mss, .succ_mss {
  text-align: center;
  font-size: medium;
}

.upd_btn {
  border: none;
}

.del_btn {
  border: none;
  background-color: red;
  padding: 10px;
}

.del_link {
  color: yellow;
}

#submit {
  display: block;
  width: auto;
  float: center;
  margin: 3% auto;
}

#tb {
  border-collapse: collapse;
  margin: 3em 10% 3em 10%;
  width: 80%;
}

