h1 {
  padding: 70px;
  text-align: center;
  font-size: 4em;
  color: tomato;
  background-color: aliceblue;
}

fieldset {
  display: inline;
  width: 60%;
  margin: 20px;
}

table, td, th {
  border: 1px solid;
  padding-left: 0.2em;
}

.label {
  text-align: center;
}

.err_mss, .succ_mss {
  text-align: center;
}

.del_btn {
  border: none;
  background-color: red;
  padding: 10px;
}

.del_link {
  color: yellow;
}

#submit {
  display: block;
  width: auto;
  float: center;
  margin: 3% auto;
}

#tb {
  border-collapse: collapse;
  margin: 3em 10% 3em 10%;
  width: 80%;
}

